.header__wrapper{
    width: 100%;
    margin: 0 auto;
    margin-top: 3.9vh;
    border-bottom: 1px solid #000000;
    .header__container {
        display: flex;
        max-width: 1340px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        height: 6.96vh;
        .header__logo {
            width: 3.542vw;
            height: 6.9vh;
            margin-left: 0.26vw;
            margin-bottom: 1.6vh;
        }
        .header__nav {
            margin-left: 0.833vw;
            margin-right: 4vw;
        }
    }
}
