.hero__3_container {
    width: 60.3vw;
    height: 100%;
    margin: 0 auto;
    padding-top: 3.375em;
    padding-bottom: 3.75em;
    margin-bottom: 3.75em;
    .hero__3_title {
        margin: 0 auto;
        h3 {
            margin: 0 auto;
            width: 33.75vw;
            font-weight: 400 ;
            text-align: center;
            font-size: clamp(16px, 1.88vw , 100px);
            letter-spacing: -5%;
            line-height: 100%;
            text-transform: uppercase;
        }
    }
    .hero__3_cards {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 7.5625em;
        position: relative;
        
        .hero__3_card {
            display: flex;
            flex-direction: row;
            gap: 6em;
            background-color: #BBEDEE;
            width: 58.75vw;
            height: 30em;
            padding: 1.875em 2.625em;
            transition: transform 0.5s ease, z-index 0.5s ease;
            position: relative;
            
            &.active {
                transform: translateY(0) !important;
            }
            
            &.passed {
                opacity: 0.8;
            }
            
            &.next {
                opacity: 0.8;
            }
            
            .hero__3_info {
                display: flex;
                flex-direction: column;
                gap: 0.875em;
                width: 27.5vw;
                justify-content: center;
                .info__title {
                    font-weight: 500 ;
                    font-size: clamp(16px, 1.667vw , 100px);
                    line-height: auto;
                }
                .info__text {
                    font-size: clamp(16px, 0.83vw , 100px);
                    color: #606060;
                    line-height: auto;
                    font-weight: 400 ;
                    margin-bottom: 3.9375em;
                }
            }
            .hero__3_image {
                overflow: hidden;
                width: 21.875vw;
                height: 42.382vh;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
                &.img__one {
                    background-image: url('/mebel-site/png/kuhni-modul.png');
                }
                &.img__two {
                    background-image: url('/mebel-site/png/fasad.png');
                }
                &.img__three {
                    background-image: url('/mebel-site/png/raspil.png');
                }
                &.img__for {
                    background-image: url('/mebel-site/png/dveri-kupe.png');
                }
                &.img__five {
                    background-image: url('/mebel-site/png/countertops.png');
                }
            }
        }
    }
}