// Анимация для бесконечной прокрутки
@keyframes scroll {
    0% {
        transform: translateX(0); // Начальное положение
    }
    100% {
        transform: translateX(-50%); // Прокрутка на половину ширины контейнера
    }
}
.container {
    width: 60.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 12.085vh;
    .title {
        color: #000;
        font-weight: 400;
        letter-spacing: -0.05em;
        line-height: 100%;
        text-align: center;
    }
    .slider {
        margin-top: 5em;
        margin-bottom: 6.5em;
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        .slider__images {
            display: flex;
            gap: 1.75em;
            width: max-content;
            animation: scroll 20s linear infinite;
            &:hover {
                cursor: url('/png/pause.png'), auto;
            }
            .image {
                flex-shrink: 0;
                background-size: cover;
                background-position: center;
                width: 261px;
                height: 261px;
                opacity: 1;
            }
            &.paused {
                animation-play-state: paused; // Остановка анимации
            }
        }
        .pauseIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3em;
            color: rgba(255, 255, 255, 0.8);
            pointer-events: none; // Чтобы иконка не мешала взаимодействию со слайдером
        }
        
    }
}