.ArborNova__wrapper {
    width: 58.75vw;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  .ArborNova__container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    .ArborNova__logo {
        width: 10%;
        height: 10%;

    }
  }
}