.button__container {
    button {
        cursor: pointer;
        width: 11.667vw;
        height: 6.042vh;
        padding: 1.28125em 0.75em 1.28125em 1.5em;
        display: block;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border: none;
        background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980  100%);
        a {
            font-size: clamp(16px, 0.83vw , 100px);
        }
        &:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
        }
    }
}