.button__container {
    button {
        font-family: Roboto;
        cursor: pointer;
        display: block;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border: none;
        background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
        
        a {
            font-size: clamp(16px, var(--font-size, 0.83vw), 100px);
        }
        
        &:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
        }
    }
}