.Renovation__container {
    width: 100%;
    margin: 0 auto;
    .Renovation__image {
        margin: 0 auto;
        display: block;
    }
    .Renovation__form {
        margin-bottom: 4rem;
    }
}