.header__wrapper{
    width: 100%;
    margin-top: 3.9vh;
    border-bottom: 1px solid #000000;
    .header__container {
        display: flex;
        max-width: 59.792vw;
        margin: 0 auto;
        align-items: center;
        height: 6.96vh;
        .header__logo {
            margin-top: 2px;
            margin-left: -5px;
        }
        .header__nav {
            margin-left: 2.34vw;
            margin-right: 5.31vw;
        }
    }
}