.header__wrapper{
    width: 100%;
    border-bottom: 1px solid #000000;
    .header__container {
        display: flex;
        max-width: 59.792vw;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        height: 13.058vh;
    }
}