.block_fasad__container {
    width: 58.75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3.75rem ;
    .main__blocks{
        margin-top: 7.5em;
        display: flex;
        flex-direction: row;
        gap: 8.813rem;
        .main__info {
            margin-bottom: 6.813rem;
            width: 27.5vw;
            .main__title {
                h3 {
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: clamp(16px, 2.083vw , 100px);
                    letter-spacing: -0.05em;
                    padding-bottom: 1.5003em;
                    line-height: 100%;
                }
            }
            .main__text {
                margin-bottom: 3.75rem;
                p{
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                }
            }
        }
        .block__fasad_image {
            img {
                width: 23.958vw;
                height: 43.7vh;
                object-fit: cover
            }
        }
    }
}
.iframeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .iframeContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.5rem;
        background-color: #a3a3a3;
        box-shadow: 0 0 60px rgba(9, 102, 83, 0.822);
        padding: 20px;
        border-radius: 8px;
        width: 40vw;
        height: 55vh;
        overflow-y: auto;
        position: relative;
        .IconItem {
            background-color: #fff;
            cursor: pointer;
            overflow: hidden;
            width: 9.375vw;
            height: 15.308vh;
            padding: 0.4rem;
            border: 1px solid #606060;
            border-radius: 10px;
            margin: 0 auto;
            text-align: center;
            align-content: center;
            &:nth-child(2),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(10) {
                padding: 0;
            }
            &:hover {
                transform: scale(1.1);
                transition: .3s;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                width: auto;
                height: auto;
            }
        }
      .closeButton {
        align-self: flex-end;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        background: none;
        border: 3px solid;
        border-radius: 10px;
        padding: 0 5px;
        font-size: 24px;
        cursor: pointer;
        background-color: brown;
        color: #fff;
        &:hover {
            background-color: #72b3cf;
            color: #fff;
        }
      }
    }
  }