.container__nav {
    display: flex;
    margin: 0;
    margin-bottom: 8px;
    width: 100%;
    .menu__button {
        background: none;
        border-radius: 5px;
        background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #1a2980 0%, #26d0ce 51%, #1a2980 100%)
            border-box;
        border: 1px solid transparent;
        outline: none;
        padding: 2px;
        box-sizing: border-box;
        min-width: 35px;
        max-width: 36px;
        min-height: 35px;
        max-height: 36px;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }
      
      .mobile__menu {
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border: 2px solid #444;
        z-index: 1000;
        .nav__list {
            .nav__item {
                border-bottom: 1px solid #444;
            }
        }
      }
      
      @media (min-width: 812px) {
        .menu__button {
          display: none;
        }
      
        .mobile__menu {
          display: none;
        }
      }      
    .nav__list {
        display: flex;
        @media (max-width: 812px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .nav__item {
            cursor: pointer;
            text-align: center;
            margin: 0;
            text-wrap: nowrap;
            .nav__link {
                display: block;
                padding: 0.96875rem 2.125rem;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: inherit;
                font-size: clamp(12px, 0.83vw , 50px);
                border: 2px solid transparent;
                &:hover {
                    text-decoration: none;
                }
                @media (max-width: 1320px) {
                    padding: 0.36875rem 1rem;
                }
                @media (max-width: 1030px) {
                    padding: 0.3rem 0.5rem;
                }
            }
            &:nth-child(1) .nav__link,
            &:nth-child(2) .nav__link, 
            &:nth-child(3) .nav__link,
            &:nth-child(5) .nav__link {
                text-wrap: wrap;
            }
            &:nth-child(4) .nav__link,  
            &:nth-child(6) .nav__link {
                padding-top: 1.5625rem;
                @media (max-width: 1600px) {
                    padding-top: 1rem;
                }
                @media (max-width: 1450px) {
                    padding-top: 1rem;
                }
                @media (max-width: 1300px) {
                    padding-top: 0.4rem;
                }
            }
                &:hover {
                    border-color: black;
            }
        }
    }
}
