.hero__1_container {
    width: 60.3vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 6.75em;
    .hero__1_box1 {
        display: flex;
        flex-direction: column;
        gap: 11.5rem;
        width: 30em;
        margin-top: 7.125em;
        h3 {
            line-height: 100%;
            letter-spacing: -5%;
            text-transform: uppercase;
            font-weight: 400;
            font-size: clamp(16px, 2.083vw , 100px);
        }
    }
    .hero__1_box2 {
        margin-top: 7.125em;
        width: 30vw;
        height: 41.3vh;
        .hero__video {
            border: 4px solid #404040;
            overflow: hidden;
            width: 100%;
            height: 100%;
            object-fit: cover;
        } 
    }
}