.hero__1_container {
    width: 60.3vw;
    margin: 0 auto;
    display: flex;
    padding-bottom: 6.75em;
    .hero__1_box1 {
        display: flex;
        flex-direction: column;
        gap: 9em;
        width: 30em;
        margin-top: 7.125em;
        h3 {
            line-height: 100%;
            letter-spacing: -5%;
            text-transform: uppercase;
            font-weight: 400;
            font-size: clamp(16px, 2.083vw , 100px);
        }
    }
}