.header__contact {
    display: flex;
    flex-direction: column;
    gap: 0.495em;
    text-wrap: nowrap;
    @media (max-width: 976px) {
        padding-right: 5px;
        }
    p {
        font-size: clamp(10px, 0.83vw , 50px);
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0.3px;
    }
    a[href^="mailto:"] {
        font-weight: 600;
      }
    a[href^="tel:"] {
        font-weight: 600;
    } 
}