// Breakpoints
$mobile: 768px;
$tablet: 1024px;

.block__countertops_container {
    width: 58.75vw;
    margin: 0 auto;
    margin-top: 7.5em;
    margin-bottom: 7.5em;
    display: flex;
    flex-direction: row;
    gap: 7.5em ;
    @media (max-width: 1600px) {
        width: 75.45vw;
    }
    @media (max-width: 1280px) {
        width: 85%;
        gap: 1.5em ;
    }
    @media (max-width: $tablet) {
        flex-direction: column;
        width: 95%;
        margin-top: 3rem;
        gap: 0.6rem ;
        margin-bottom: 0.5em;
    }
    @media (max-width: $mobile) {
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-top: 3em;
    }
    .block__countertops_heroInfo {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        width: 34.5em;
        @media (max-width: 1600px) {
            width: 40vw;
        }
        @media (max-width: $tablet) {
            width: 100%;
        }
        .block__countertops_title {
            h3 {
                text-transform: uppercase;
                font-weight: 400;
                font-size: clamp(16px, 2.083vw , 100px);
                letter-spacing: -0.05em;
                padding-bottom: 0.2em;
                line-height: 90%;
                text-align: center;
            }
        }
        .block__countertops_text {
            margin-bottom: 1.25em;
            @media (max-width: $tablet) {
                margin-bottom: 0;
                width: 80%;
                margin: 0 auto;
            }
            @media (max-width: $mobile) {
                width: 95%;
            }
            p {
                color: #606060;
                line-height: auto;
                letter-spacing: 0;
            }
        }
        .block__countertops_text2 {
            list-style-type: disc;
            color: #606060;
            line-height: auto;
            @media (max-width: $tablet) {
                margin-bottom: 0;
                width: 80%;
                margin: 0 auto;
            }
            @media (max-width: $mobile) {
                width: 95%;
            }
            .block__countertops_list {
                padding-left: 2em;
                padding-top: 1em;
                .block__countertops_item {
                    list-style-type: disc;
                    color: #606060;
                    line-height: auto;
                    padding-bottom: 1em;
                }
            }
        }
    }
    .block__countertops_slider_image {
        flex: 1;
        position: relative;
        overflow: hidden;
        min-height: 300px;
        @media (max-width: $tablet) {
                height: 400px;
                flex: none;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 3rem;
            }
            @media (max-width: $mobile) {
                flex: none;
                width: 100%;
                height: 300px;
                order: 1;
                margin-bottom: 1.5em;
            }
        .sliderWrapper {
            position: relative;
            width: 100%;
            height: 100%;
            .slide {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                border-radius: 12px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
                object-fit: cover;
                @media (max-width: 1600px) {
                        width: 100%;
                    }
                    @media (max-width: $tablet) {
                        width: 100%;
                        margin: 0 auto;
                        height: 100%;
                    }
                    @media (max-width: $mobile) {
                        width: 100%;
                        height: 100%;
                    }
                &.right {
                    transform: translateX(100%);
                    
                    &.active {
                        transform: translateX(0);
                    }
                }
                
                &:not(.active) {
                    transform: translateX(-100%);
                }
                
                &.active ~ .slide.right {
                    transform: translateX(100%);
                }
            }
        }
    }
}