.block__countertops_container {
    width: 58.75vw;
    height: 34.625em;
    margin: 0 auto;
    margin-top: 7.5em;
    margin-bottom: 7.5em;
    display: flex;
    flex-direction: row;
    gap: 7.5em ;
    .block__countertops_heroInfo {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        width: 34.5em;
        .block__countertops_title {
            h3 {
                text-transform: uppercase;
                font-weight: 400;
                font-size: clamp(16px, 2.083vw , 100px);
                letter-spacing: -0.05em;
                padding-bottom: 0.2em;
            }
        }
        .block__countertops_text {
            margin-bottom: 1.25em;
            p {
                color: #606060;
                line-height: auto;
                letter-spacing: 0;
            }
        }
        .block__countertops_text2 {
            list-style-type: disc;
            color: #606060;
            line-height: auto;
            .block__countertops_list {
                padding-left: 2em;
                padding-top: 1em;
                .block__countertops_item {
                    list-style-type: disc;
                    color: #606060;
                    line-height: auto;
                    padding-bottom: 1em;
                }
            }
        }
    }
    .block__countertops_slider_image {
        flex: 1;
        position: relative;
        overflow: hidden;
        .sliderWrapper {
            position: relative;
            width: 100%;
            height: 100%;
            .slide {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                border-radius: 12px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 1.5s ease-in-out;
                
                &.right {
                    transform: translateX(100%);
                    
                    &.active {
                        transform: translateX(0);
                    }
                }
                
                &:not(.active) {
                    transform: translateX(-100%);
                }
                
                &.active ~ .slide.right {
                    transform: translateX(100%);
                }
            }
        }
    }
}