@use "sass:color";
// Breakpoints
$mobile: 768px;
$tablet: 1024px;

.block__size_container {
    width: 56.719vw;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 7.5em;
    @media (max-width: 1600px) {
        width: 75.45vw;
    }
    @media (max-width: 1280px) {
        width: 85%;
        gap: 1.5em ;
    }
    @media (max-width: $tablet) {
        flex-direction: column;
        width: 95%;
        margin-top: 3rem;
        gap: 0.6rem ;
        margin-bottom: 0.5em;
    }
    @media (max-width: $mobile) {
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-top: 3em;
    }
    .hidden {
        display: none !important;
    }
    .block__size_text {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        width: 63%;
        margin: 0 auto;
        @media (max-width: $tablet) {
            margin-bottom: 0;
            width: 80%;
            margin: 0 auto;
        }
        @media (max-width: $mobile) {
            width: 95%;
        }
        p {
            line-height: auto;
            letter-spacing: 0;
            color: #606060;
        }
    }
    .block__size_info {
        margin-top: 3em;
        .size_button {
            width: 80%;
            margin: 0 auto;
            display: flex;
            gap: 8.75rem;
            @media (max-width: 1600px) {
                gap: 8.75rem;
            }
            @media (max-width: 1280px) {
                gap: 5.75rem;
                width: 70%;
            }
            @media (max-width: $mobile) {
                gap: 0.75rem;
                width: 100%;
                position: sticky;
                top: 0;
                z-index: 100;
                background: white;
                padding: 1rem 0;
            }
            button {
                cursor: pointer;
                width: 90%;
                height: 69px;
                color: #fff;
                font-size: clamp(16px, 1.875vw , 100px);
                font-weight: 500;
                border: none;
                border-radius: 6px;
                background-image: linear-gradient(
                    to bottom, 
                    rgba(45, 179, 179, 0.3) 0%, 
                    rgba(19, 37, 77, 0.2) 100%);
                text-align: center;
                margin: 0 auto;
                @media (max-width: 1600px) {
                    height: auto;
                }
                @media (max-width: $mobile) {
                    height: 40px;
                    font-size: clamp(12px, 1.875vw , 100px);
                }
                span {
                    font-size: clamp(16px, 0.73vw , 100px);
                    font-weight: 500;
                    @media (max-width: $tablet) {
                        text-transform: lowercase;
                    }
                    @media (max-width: $mobile) {
                        font-size: clamp(12px, 1.875vw , 100px);   
                    }
                }
                &:hover {
                    background-color: #253F7A;
                    border: none;
                    border-radius: 6px;
                    color: #fff;
                    &:not(.active) {
                        box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
                        transform: scale(1.05);
                        transition: 0.2s;
                    }   
                }
            }
            .active {
                background-image: linear-gradient(to bottom, #2db3b3 0%, #13254d 100%);
                background-color: rgba(37, 63, 122, 0.8);
                color: #f4f4f4;
            }
            .size_button_text {
                display: flex;
                flex-direction: column;
            }
        }
        .size__cards {
            margin-top: 5em;
            margin: 0 auto;
            display: flex;
            gap: 3.9375rem;
            // @media (max-width: $mobile) {
            //     flex-direction: column;
            //     align-items: center;
            // }
            /* Стили для каждой вкладки */
            &.size__cards_26mm {
                justify-content: center; 
            }
          
            &.size__cards_36mm {
                justify-content: flex-start; 
            }
          
            &.size__cards_12mm {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.1em;
                @media (max-width: $mobile) {
                    justify-content: center;
                }
            }

            .info__item {
                width: 16.719vw;
                margin: 0 auto;
                margin-top: 1rem;
                text-align: center;
                font-size: clamp(16px, 0.9vw , 100px);
                display: flex;
                flex-direction: column;
                gap: 0.75em;
                @media (max-width: $mobile) {
                    font-size: clamp(12px, 0.9vw , 100px);
                    h3 {
                        font-size: clamp(14px, 1.167vw , 100px) !important;
                    }
                }
                h3 {
                    font-size: clamp(16px, 1.167vw , 100px);
                    text-decoration: underline;
                    color: #353535;
                }
                p {
                    text-decoration: underline;
                    color: #353535;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    text-decoration: underline;
                }
            }
        }
        .info__bottom {
            margin: 0 auto;
            margin-top: 2.5rem;
            width: 27.5vw;
            text-align: center;
            @media (max-width: 1600px) {
                width: 60%;
            }
            @media (max-width: 1280px) {
                
                width: 70%;
            }
            @media (max-width: $tablet) {
                margin: 0 auto;
                margin-top: 1.5rem;
                width: 80%;
            }
            @media (max-width: $mobile) {
                width: 95%;
            }
            p {
                color: #606060;
            }
            .info__bottom_btn {
                width: 100%;
                margin: 0 auto; 
                margin-top: 2em;
                button {
                    width: 50% !important;
                    margin: 0 auto;
                    @media (max-width: $tablet) {
                        width: 40% !important;
                    }
                    @media (max-width: $mobile) {
                        width: 50% !important;
                    }
                }
            }
        }
    }
    .submit__modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        animation: fadeIn 0.3s ease-out;
        .submit__content {
          background-color: white;
          padding: 20px;
          border-radius: 8px;
          width: 400px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          animation: slideUp 0.3s ease-out;
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
          h3 {
            color: #557a95;
            margin-bottom: 15px;
            text-align: center;
          }
          label {
            text-align: center;
          }
          input {
            margin: 0 auto;
            width: 50%;
            height: 30px;
            padding-left: 8px;
          }
          textarea {
            height: 4vw;
            padding: 0.2rem;
          }
            .input_file span {
                  position: relative;
                  width: 7.729vw;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  display: inline-block;
                  cursor: pointer;
                  outline: none;
                  text-decoration: none;
                  font-size: 14px;
                  vertical-align: middle;
                  color: rgb(255 255 255);
                  text-align: center;
                  border-radius: 4px;
                  background-color: #13254d;
                  line-height: 22px;
                  height: 1.763vw;
                  padding: 7px 12px;
                  box-sizing: border-box;
                  border: none;
                  margin: 0;
                  transition: background-color 0.2s;
                }
                .input_file input[type="file"] {
                  position: absolute;
                  z-index: -1;
                  opacity: 0;
                  display: block;
                  width: 0;
                  height: 0;
                }

                /* Focus */
                .input_file input[type="file"]:focus + span {
                  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }

                /* Hover/Active */
                .input_file:hover span {
                  background-color: #2db3b3;
                  color: black;
                }
                .input_file:active span {
                  background-color: #2db3b3;
                }

                /* Disabled */
                .input_file input[type="file"]:disabled + span {
                  background-color: #eee;
                }
                .clear_files_button {
                  background: none;
                  border: none;
                  color: #ff6b6b;
                  font-size: 1.2em;
                  cursor: pointer;
                  padding: 0 5px;
                  &:hover {
                    color: #ff5252;
                  }
                }
          .submit__close_button {
            align-self: flex-end;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
            background: none;
            border: 3px solid;
            border-radius: 10px;
            padding: 0 5px;
            font-size: 24px;
            cursor: pointer;
            background-color: #72b3cf;
            color: #fff;
            transition: background-color 0.3s;
            &:hover {
              background-color: color.adjust(brown, $lightness: 10%);
              color: #fff;
            }
          }
          .submit__button {
            width: 50%;
            height: 40px;
            margin: 0 auto;
            margin-top: 1rem;
            background-color: #557a95;
            color: white;
            border: none;
            padding: 8px 15px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            position: relative;

            &:hover {
              background-color: color.adjust(#cf9b48, $lightness: -10%);
            }
          }
        }
      }
}