.header__wrapper{
    width: 100%;
    margin-top: 3.9vh;
    border-bottom: 1px solid #000000;
    .header__container {
        display: flex;
        max-width: 59.792vw;
        margin: 0 auto;
        align-items: center;
        height: 6.96vh;
        .header__logo {
            width: 4.5em;
            height: 4.5em;
            margin-top: 0.375em;
            margin-left: -0.3125em;
        }
        .header__nav {
            margin-top: 0.1875em;
            margin-left: 2.34vw;
            margin-right: 5.31vw;
        }
    }
}