.main__container {
  .container__leaner {
    background-image:
    linear-gradient(to right, rgba(177, 177, 177, 1) 1px, transparent 1px), /* Первая полоса */
    linear-gradient(to right, rgba(177, 177, 177, 1) 1px, transparent 1px), /* Вторая полоса */
    linear-gradient(to right, rgba(177, 177, 177, 1) 1px, transparent 1px), /* Третья полоса */
    linear-gradient(to right, rgba(177, 177, 177, 1) 1px, transparent 1px); /* Четвертая полоса */
  background-size: 1px; /* Ширина полосы и высота 100% */
  background-position: 19.6% 0, 42.6% 0, 65.6% 0, 70.9% 0; /* Позиции полос */
  background-repeat: no-repeat; /* Не повторять градиент */
  }
}