// Breakpoints
$mobile: 768px;
$tablet: 1024px;

.block_raspil__container {
    width: 58.75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3.75em;
    @media (max-width: 1600px) {
        width: 75.45vw;
    }
    @media (max-width: 1280px) {
        width: 85%;
    }
    @media (max-width: $tablet) {
        width: 95%;
        margin-top: 3rem;
        gap: 0.6rem ;
    }
    @media (max-width: $mobile) {
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .main__blocks{
        margin-top: 7.5rem;
        display: flex;
        flex-direction: row;
        gap: 1.875rem;
        @media (max-width: 1600px) {
            gap: 3.25rem;
        }
        @media (max-width: $tablet) {
            flex-direction: column;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            gap: 1.25rem;
        }
        .main__info {
            width: 33.49vw;
            @media (max-width: 1600px) {
                width: 40vw;
            }
            @media (max-width: $tablet) {
                width: 100%;
            }
            .main__title {
                @media (max-width: 1280px) {
                    text-align: center;
                }
                @media (max-width: $mobile) {
                    text-align: center;
                }
                h3 {
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: clamp(16px, 2.083vw , 100px);
                    letter-spacing: -0.05rem;
                    padding-bottom: 1.5003rem;
                    line-height: 100%;
                }
            }
            .main__text {
                @media (max-width: $tablet) {
                    margin-bottom: 0;
                    width: 100%;
                    margin: 0 auto;
                }
                p{
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                }
            }
            .main__services {
                h3 {
                    font-size: clamp(16px, 1.25vw , 100px);
                    font-weight: 700;
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                }
                .main__services_list {
                    padding-left: 2rem;
                    padding-top: 1rem;
                    .main__services_item {
                        list-style-type: disc;
                        color: #606060;
                        line-height: 150%;
                        letter-spacing: 0;
                        padding-bottom: 1rem;
                        span {
                            font-weight: 700;
                            color: #606060;
                            line-height: 150%;
                            letter-spacing: 0;
                        }
                    }
                }
            }
            .main__why_us {
                h3 {
                    font-size: clamp(16px, 1.25vw , 100px);
                    font-weight: 700;
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                }
                .main__why_us_list {
                    padding-left: 2rem;
                    padding-top: 1rem;
                    .main__why_us_item {
                        list-style-type: disc;
                        color: #606060;
                        line-height: 150%;
                        letter-spacing: 0;
                        padding-bottom: 1rem;
                        span {
                            font-weight: 700;
                            color: #606060;
                            line-height: 150%;
                            letter-spacing: 0;
                        }
                    }
                }
            }
            .main__contact {
                padding-top: 1rem;
                p {
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                    span {
                        font-weight: 700;
                        color: #606060;
                        line-height: 150%;
                        letter-spacing: 0;
                    }
                }
            }
        }
        .block__raspil_slider_image {
            flex: 1;
            position: relative;
            overflow: hidden;
            min-height: 300px;
            @media (max-width: $tablet) {
                height: 400px;
                flex: none;
                width: 100%;
                margin: 0 auto;
                margin-bottom: 3rem;
            }
            @media (max-width: $mobile) {
                flex: none;
                width: 100%;
                height: 300px;
                order: 1;
                margin-bottom: 1.5em;
            }
            .sliderWrapper {
                position: relative;
                width: 100%;
                height: 100%;
                .slide {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 23.802vw;
                    height: 55.2vh;
                    background-size: cover;
                    background-position: center;
                    border-radius: 12px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
                    @media (max-width: 1600px) {
                        width: 100%;
                    }
                    @media (max-width: $tablet) {
                        width: 100%;
                        margin: 0 auto;
                        height: 100%;
                    }
                    @media (max-width: $mobile) {
                        width: 100%;
                        height: 100%;
                    }
                    &.right {
                        transform: translateX(100%);
                        
                        &.active {
                            transform: translateX(0);
                        }
                    }
                    
                    &:not(.active) {
                        transform: translateX(-100%);
                    }
                    
                    &.active ~ .slide.right {
                        transform: translateX(100%);
                    }
                }
            }
        }
    }
    .main__button {
        margin-bottom: 7.5em;
        width: 41%;
        @media (max-width: 1600px) {
            margin-left: 2rem;
        }
        @media (max-width: 1400px) {
            margin-left: 8rem;
        }
        @media (max-width: $tablet) {
            margin: 0 auto;
            margin-bottom: 2rem;
            button {
                margin: 0 auto;
            }
        }
        @media (max-width: 600px) {
            width: 50%;
        }
        @media (max-width: 500px) {
            width: 60%;
        }
        @media (max-width: 400px) {
            width: 70%;
        }
    }
}
.iframeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    .iframeContainer {
      position: relative;
      width: 80vw;
      height: 80vh;
      background: white;
      border-radius: 8px;
      padding: 20px;
      .closeButton {
        position: absolute;
        top: 10px;
        right: 15px;
        background: rgba(51, 171, 169, 0.4);
        width: 2%;
        border-radius: 50%;
        border: none;
        font-size: 24px;
        cursor: pointer;
        z-index: 1001;
        &:hover {
            background: rgba(184, 89, 17, 0.5);
        }
      }
      .embeddedSite {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 4px;
      }
    }
  }