.block_raspil__container {
    width: 58.75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3.75em ;
    .main__blocks{
        margin-top: 7.5em;
        display: flex;
        flex-direction: row;
        gap: 1.875em;
        .main__info {
            width: 33.49vw;
            .main__title {
                h3 {
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: clamp(16px, 2.083vw , 100px);
                    letter-spacing: -0.05em;
                    padding-bottom: 1.5003em;
                    line-height: 100%;
                }
            }
            .main__text {
                p{
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                }
            }
            .main__services {
                h3 {
                    font-size: clamp(16px, 1.25vw , 100px);
                    font-weight: 700;
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                }
                .main__services_list {
                    padding-left: 2em;
                padding-top: 1em;
                    .main__services_item {
                        list-style-type: disc;
                        color: #606060;
                        line-height: 150%;
                        letter-spacing: 0;
                        padding-bottom: 1em;
                        span {
                            font-weight: 700;
                            color: #606060;
                            line-height: 150%;
                            letter-spacing: 0;
                        }
                    }
                }
            }
            .main__why_us {
                h3 {
                    font-size: clamp(16px, 1.25vw , 100px);
                    font-weight: 700;
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                }
                .main__why_us_list {
                    padding-left: 2em;
                    padding-top: 1em;
                    .main__why_us_item {
                        list-style-type: disc;
                        color: #606060;
                        line-height: 150%;
                        letter-spacing: 0;
                        padding-bottom: 1em;
                        span {
                            font-weight: 700;
                            color: #606060;
                            line-height: 150%;
                            letter-spacing: 0;
                        }
                    }
                }
            }
            .main__contact {
                padding-top: 1em;
                p {
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                    span {
                        font-weight: 700;
                        color: #606060;
                        line-height: 150%;
                        letter-spacing: 0;
                    }
                }
            }
        }
        .block__raspil_slider_image {
            flex: 1;
            position: relative;
            overflow: hidden;
            .sliderWrapper {
                position: relative;
                width: 100%;
                height: 100%;
                .slide {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 23.802vw;
                    height: 55.2vh;
                    background-size: cover;
                    background-position: center;
                    border-radius: 12px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: transform 1.5s ease-in-out;
                    
                    &.right {
                        transform: translateX(100%);
                        
                        &.active {
                            transform: translateX(0);
                        }
                    }
                    
                    &:not(.active) {
                        transform: translateX(-100%);
                    }
                    
                    &.active ~ .slide.right {
                        transform: translateX(100%);
                    }
                }
            }
        }
    }
    .main__button {
        margin-bottom: 7.5em;
    }
}
.iframeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    .iframeContainer {
      position: relative;
      width: 80vw;
      height: 80vh;
      background: white;
      border-radius: 8px;
      padding: 20px;
      .closeButton {
        position: absolute;
        top: 10px;
        right: 15px;
        background: rgba(51, 171, 169, 0.4);
        width: 2%;
        border-radius: 50%;
        border: none;
        font-size: 24px;
        cursor: pointer;
        z-index: 1001;
        &:hover {
            background: rgba(184, 89, 17, 0.5);
        }
      }
      .embeddedSite {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 4px;
      }
    }
  }