.footer__wrapper {
    background-color: #132141;
    height: 36.254vh;
    box-sizing: border-box;
    .footer__container {
        position: relative;
        width: 60.3vw;
        height: 25.478vh;
        margin: 0 auto;
        top: 3em;
        bottom: 3.688em;
        display: flex;
        flex-direction: row;
        gap: 12.812vw;
        .footer__nav {
        display: flex;
        flex-direction: row;
        gap: 4.219vw;
        flex-wrap: nowrap;
            .nav__list {
                display: flex;
                flex-direction: column;
                gap: 1.5em;
                flex-wrap: wrap;
                .nav__item {
                    color: #f4f4f4;
                    line-height: 100%;
                    &:hover {
                        color: #2DB3B3;
                        transform: scale(1.05);
                        text-decoration: underline;
                    }
                }
            }
        }
        .footer__contact {
            display: flex;
            gap: 1.5em;
            .contact__info {
                color: #f4f4f4;
                line-height: 100%;
                display: flex;
                flex-direction: column;
                gap: 1em;
                .social {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    .items {
                        display: flex;
                        gap: 0.5em;
                        .telegram {
                            cursor: pointer;
                        }
                        .whatsApp {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
    }
}