// Breakpoints
$mobile: 768px;
$tablet: 1024px;

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .modalContent {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        width: 90vw;
        height: 90vh;
        overflow-y: auto;
        position: relative;
        @media (max-width: $mobile) {
            padding: 10px;
        }
        h2 {
            font-size: clamp(16px, 1.875vw , 100px);
            color: #444;
            margin: 0 auto;
            width: 40%;
            margin-bottom: 3rem;
            @media (max-width: $mobile) {
                margin-bottom: 1rem;
                width: 100%;
                text-align: center;
            }
        }
        .closeButton {
            align-self: flex-end;
            position: sticky;
            top: 10px;
            right: 10px;
            z-index: 10;
            background: none;
            border: 3px solid;
            padding: 0 5px;
            font-size: 24px;
            cursor: pointer;
            background-color: brown;
            color: #fff;
            &:hover {
                background-color: #72b3cf;
                color: #fff;
            }
        }
        .policyText {
            white-space: pre-line;
            margin-top: 15px;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .policyText__item {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                @media (max-width: $mobile) {
                    flex-direction: column;
                    margin: 0 auto;
                }
                .policyText__item_title {
                    min-width: 15.625vw;
                    max-width: 15.700vw;
                    font-size: clamp(14px, 1.483vw , 50px);
                    text-transform: uppercase;
                    font-weight: 400;
                    letter-spacing: -0.05em;
                    padding-bottom: 1.5003em;
                    line-height: 100%;
                    color: #444;
                    @media (max-width: $mobile) {
                        text-align: center;
                        margin: 0 auto;
                        width: 80% !important;
                        min-width: 80%;
                    }
                }
                .policyText__item_text {
                    width: 50vw;
                    font-size: clamp(12px, 0.83vw , 50px);
                    color: #606060;
                    line-height: 150%;
                    letter-spacing: 0;
                    @media (max-width: $mobile) {
                        margin: 0 auto;
                        width: 95% !important;
                        min-width: 95%;
                    }
                }
            }
        }
    }
}


