.form__container {
    width: 60.3vw;
    height: 26.115vh;
    margin: 0 auto;
    background-image: linear-gradient(to right, #2DB3B3 0%, #13254D  100%);
    width: 75vw;
    .form__title {
        margin: 0 auto;
        width: 33.75vw;
        padding-top: 4.353vh;
        h2 {
            letter-spacing: -5%;
            color: #f4f4f4;
        }
    }
    .form__items {
        margin: 0 auto;
        display: flex;
        gap: 2.5vw;
    }
}