.container__nav {
    display: flex;
    margin: 0;
    .nav__list {
        display: flex;
        .nav__item {
            margin: 0;
            padding: 1.375em 2.125em;
            border: 2px solid transparent;
            text-wrap: nowrap;
                &:hover {
                    border-color: black;
            }
        }
    }
}